/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Oswald', sans-serif;
  vertical-align: baseline;
  font-weight: 300;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

h1 {
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

small {
  font-size: 0.8em;
}

strong {
  font-weight: 600;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 85%;
  max-width: 1360px;
  margin: auto;
}

p {
  line-height: 20px;
}

header {
  margin-bottom: 2rem;
}

header h1 {
  font-weight: 300;
}

.hero {
  width: 100%;
  background: url("../img/hero.PNG");
  background-size: cover;
  background-position: center;
}

.hero header {
  margin: 0;
}

.hero header .logo {
  max-width: 25%;
  padding: 5% 5% 5% 10%;
}

.hero header .logo img {
  width: 100%;
}

.hero .row {
  align-items: center;
}

.hero .col {
  width: 50%;
}

.hero .col h4 {
  font-weight: 300;
  color: #fff;
  margin: 0.5rem;
}

.hero .col .person-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: yellow;
  margin-right: .5rem;
}

.hero main {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero main .hamburger {
  position: absolute;
  z-index: 100;
  display: none;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 25px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.hero main .hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #fff;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.hero main .hamburger span:nth-child(even) {
  left: 50%;
}

.hero main .hamburger span:nth-child(odd) {
  left: 0px;
}

.hero main .hamburger span:nth-child(1), .hero main .hamburger span:nth-child(2) {
  top: 0px;
}

.hero main .hamburger span:nth-child(3), .hero main .hamburger span:nth-child(4) {
  top: 10px;
}

.hero main .hamburger span:nth-child(5), .hero main .hamburger span:nth-child(6) {
  top: 20px;
}

.hero main .hamburger.open span:nth-child(1),
.hero main .hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hero main .hamburger.open span:nth-child(2),
.hero main .hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hero main .hamburger.open span:nth-child(1) {
  left: 3px;
  top: 7px;
}

.hero main .hamburger.open span:nth-child(2) {
  left: calc(50% - 3px);
  top: 7px;
}

.hero main .hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.hero main .hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.hero main .hamburger.open span:nth-child(5) {
  left: 3px;
  top: 21px;
}

.hero main .hamburger.open span:nth-child(6) {
  left: calc(50% - 3px);
  top: 21px;
}

.hero nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
}

.hero nav ul {
  display: flex;
}

.hero nav ul li {
  padding: 1.5rem;
  background: transparent;
  transition: .2s;
  text-transform: uppercase;
  color: #fff;
}

.hero nav ul li:hover {
  color: #000;
  background: #ffd034;
}

.hero .hero-main .logo {
  max-width: 50%;
  margin: 0 auto 1rem;
}

.hero .hero-main .logo img {
  width: 100%;
}

.hero .hero-main h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
}

.hero .hero-main h2 {
  display: inline-flex;
  background-color: #ffd034;
  padding: 1rem 2rem;
  margin: 2rem 0 4rem;
  font-weight: 300;
}

.hero .hero-main .more-btn p {
  color: #fff;
  font-size: 1.5em;
}

.hero .hero-main .more-btn .more-arrow {
  width: 20px;
  position: relative;
  bottom: -20px;
  animation: arrow 3s both infinite;
}

.whyUs {
  padding: 4rem 0;
}

.whyUs .row {
  align-items: center;
}

.whyUs .row .col {
  width: 50%;
}

.whyUs .row .col:first-of-type {
  padding-right: 5%;
}

.whyUs .row .col img {
  width: 100%;
}

.whyUs .row .col p {
  margin-bottom: .5rem;
}

.services {
  position: relative;
  padding-top: 2rem;
}

.services .builder {
  position: absolute;
  right: 0;
  bottom: 0;
  max-height: 110%;
  max-width: 30%;
}

.services .container {
  position: relative;
}

.services .container .services-wrapper {
  width: 70%;
}

.services .container .row {
  padding: 2rem 0;
}

.services .container .col {
  width: 50%;
  display: flex;
  padding: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.services .container .col .icon {
  width: 50px;
  margin-right: 1rem;
  height: 50px;
  border-radius: 50%;
  background-color: #ffd034;
  flex: 0 0 auto;
}

.services .container header h1 {
  margin-bottom: 2rem;
}

.services .yellow-stripe {
  background-color: #ffd034;
}

.services .yellow-stripe .builder {
  display: none;
}

.services .yellow-stripe .mobile-stripe {
  background-color: #ffd034;
  width: 100%;
  height: 4rem;
  display: none;
  position: relative;
  box-shadow: 0px -14px 50px 10px rgba(0, 0, 0, 0.2);
}

.services .yellow-stripe .row {
  padding: 0;
}

.services .yellow-stripe .col {
  width: 33%;
  justify-content: center;
  margin: 0;
  padding: 1.5rem 0;
}

.services .yellow-stripe .col svg {
  width: 40px;
  margin-right: 1rem;
}

.services .yellow-stripe .col h2 {
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

.projects {
  padding: 4rem 0;
}

.projects header {
  text-align: center;
}

.projects header h1 {
  margin-bottom: 1rem;
}

.projects .row {
  justify-content: center;
}

.projects .col {
  width: 33.333%;
  position: relative;
  padding: 1rem;
}

.projects .col img {
  width: 100%;
  height: 100%;
}

.projects .col .frame {
  position: absolute;
  border: 5px solid transparent;
  width: calc(100% - 22px);
  height: calc(100% - 22px);
  top: 11px;
  left: 11px;
  padding: 5%;
  transition: .3s;
  cursor: pointer;
  box-shadow: 0 0 0 0 transparent;
}

.projects .col:hover .frame {
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.18);
  border: 5px solid #ffd034;
}

.contact {
  position: relative;
  padding: 6rem 0;
}

.contact .contact-main {
  text-align: center;
  width: 50%;
  margin: auto;
}

.contact .contact-main a {
  margin: 2rem;
  padding: 1rem 3rem;
  background-color: #ffd034;
  display: inline-block;
}

.contact .wrench {
  position: absolute;
  right: 0;
  top: 0%;
  height: 100%;
}

.pre-footer {
  padding: 4rem 0;
  background-image: url("../img/wood.jpg");
}

.pre-footer .col {
  width: 33%;
  color: #fff;
}

.pre-footer .col.credentials {
  text-transform: uppercase;
}

.pre-footer .col.credentials p,
.pre-footer .col.credentials h4 {
  font-weight: 400;
}

.pre-footer .col.credentials h1 {
  margin-bottom: 1rem;
}

.pre-footer .col.credentials .address {
  margin-top: .5rem;
  text-transform: none;
}

.pre-footer .col.shortcuts h4 {
  margin-bottom: 1.5rem;
  font-weight: 300;
}

.pre-footer .col.shortcuts a {
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
}

.pre-footer .col.shortcuts a p {
  font-weight: 300;
}

.pre-footer .col.shortcuts a img {
  width: 1rem;
  height: 1rem;
  margin-right: .6rem;
}

.pre-footer .col.shortcuts .wrapper {
  width: 100px;
  margin: auto;
}

.pre-footer .col.extras .link {
  display: flex;
  align-items: center;
  width: 240px;
  margin-left: calc(100% - 240px);
  margin-bottom: 1rem;
}

.pre-footer .col.extras .link h4 {
  font-weight: 300;
}

.pre-footer .col.extras .link .pic {
  width: 40px;
  height: 40px;
  background: #ffd034;
  margin-right: 1rem;
}

footer {
  width: 100%;
  height: 60px;
  background: #333;
  color: #fff;
}

footer .container {
  height: 100%;
}

footer .row {
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

footer a {
  opacity: .6;
  transition: .3s;
}

footer a:hover {
  opacity: 1;
}

.rslides {
  display: none;
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

@media screen and (max-width: 1366px) {
  .contact .contact-main {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .hero header .row .col:first-of-type {
    width: 40%;
  }
  .hero header .row .col {
    width: 60%;
  }
  .hero header .row .col .row .col {
    width: 50%;
  }
  .hero .hero-main h1 {
    font-size: 2.5rem;
  }
  .whyUs .container {
    width: 100%;
  }
  .services .container .services-wrapper {
    width: 100%;
  }
  .services .builder {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header-contact {
    display: none;
  }
  .hero main {
    padding: 8rem 0;
    height: unset;
  }
  .hero main .hamburger {
    display: block;
  }
  .hero header {
    background: #fff;
  }
  .hero header .row .col:first-of-type {
    width: 100%;
  }
  .hero header .row .col:first-of-type .logo {
    height: 5rem;
    padding: 0;
    margin: auto;
    padding: 3%;
    max-width: unset;
    text-align: center;
  }
  .hero header .row .col:first-of-type .logo img {
    height: 100%;
    width: unset;
  }
  .hero .hero-main h1 {
    font-size: 2rem;
  }
  .hero .hero-main h2 {
    font-size: 1.5rem;
    padding: .7rem 1.2rem;
    margin: 2rem 0 0 0;
  }
  .hero .hero-main .logo {
    display: none;
  }
  .hero .hero-main .more-btn {
    display: none;
  }
  .hero nav {
    background: rgba(0, 0, 0, 0.65);
  }
  .hero nav ul {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: .5s;
  }
  .hero nav ul.open {
    max-height: 1000px;
  }
  .hero nav ul li:hover {
    background: transparent;
    color: #ffd034;
  }
  .whyUs .container .row .col {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .whyUs .container .row .col:first-of-type {
    display: none;
  }
  .services .container {
    padding-bottom: 2rem;
  }
  .services .container header {
    text-align: center;
  }
  .services .container .row .col {
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  .services .container .row .col p {
    display: none;
  }
  .services .yellow-stripe {
    background: #fff;
  }
  .services .yellow-stripe .mobile-stripe {
    display: block;
  }
  .services .yellow-stripe .container {
    padding-bottom: 4rem;
  }
  .services .yellow-stripe .container .row .col {
    justify-content: flex-start;
  }
  .services .yellow-stripe .container .row .col h2 {
    color: #ffd034;
  }
  .services .yellow-stripe .container .row .col svg path {
    fill: #ffd034;
  }
  .services .yellow-stripe .builder {
    display: block;
    max-width: 40%;
  }
  .projects .row {
    display: none;
  }
  .projects .rslides {
    display: block;
  }
  .contact .contact-main {
    width: 100%;
  }
  .pre-footer .col {
    width: 100%;
    margin-bottom: 2rem;
  }
  .pre-footer .col:last-of-type {
    margin: 0;
  }
  .pre-footer .col.credentials {
    text-align: center;
  }
  .pre-footer .col.shortcuts .wrapper, .pre-footer .col.extras .link {
    margin: 0;
  }
  footer span {
    display: none;
  }
  footer .row {
    justify-content: space-around;
    flex-direction: column;
  }
}

@media screen and (max-width: 550px) {
  .hero .hero-main h1 {
    font-size: 1.5rem;
  }
  .hero .hero-main h2 {
    font-size: 1rem;
  }
  .hero .hero-main .more-btn p {
    font-size: .8em;
  }
}

@keyframes arrow {
  0%,
  8%,
  18%,
  50%,
  100% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-15px);
  }
  15% {
    transform: translateY(-8px);
  }
}
/*# sourceMappingURL=style.css.map */